@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    font-family: 'Indie Flower', cursive;    
    color: aliceblue;
    font-size: 25px;
    margin: auto;
    z-index: 0;
}
.tableau{
    background-image: url("optimisation/img/old-black-background.png");
    width: 100%;
    height: 200%;
    position: absolute;
    z-index: -2;
}
.chouette h1{
    text-align: center;
    font-size: 72px;
    z-index: 1;
}
.chouette img{
    display: flex;
    position: absolute;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    left: 0;
    right: 0;
    z-index: -1;
}
.section1{
    width: 35%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
section h2{
    text-align: center;
}
.objet{
    width: 90%;
    margin-top: 200px;
    padding-left: 40px;
}
.acces{
    margin-bottom: 50px;
}
.comparatif{
    margin-top: 50px;
    text-align: center;
}
.comparatif h3{
    margin-bottom: 60px;
    font-size: 30px;
}
.comparatif-img{
    display: flex;
    width: 100%;
    margin: auto;
}
.comparatif-img img{
    margin: auto;
    width: 70%;   
}
.avrès{
    display: flex;
    text-align: center;
    font-size: 30px;
}
.avant, .après{
    width: 50%;
}
.original img{
    transition: transform 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.original img:hover{
    transform: translateX(250px) scale(2);
}
.optimisé img{
    transition: transform 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.optimisé img:hover{
    transform: translateX(-250px) scale(2);
    
}
